{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% block title %} Point of Sales - {{ block.super }}  {% endblock %}

{% block content %}


    <section class="best-selling-products">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <!-- Breadcrumbs -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-2">
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            <li class="breadcrumb-item">
                                <a href="#">Order Overview</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col col-xl-3 col-md-3 col-lg-3">
                    <div class="card bg-danger">
                        <div class="card-body ">
                            <div>Total Category</div>
                            <div>8</div>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-3 col-md-3 col-lg-3">
                    <div class="card bg-info">
                        <div class="card-body ">
                            <div>Total Products</div>
                            <div>8</div>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-3 col-md-3 col-lg-3">
                    <div class="card bg-info">
                        <div class="card-body ">
                            <div>Total Customers</div>
                            <div>8</div>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-3 col-md-3 col-lg-3">
                    <div class="upload-content">
                        <a href="">Uplaod Products</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}