{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% block title %} Sales Report - {{block.super}} {% endblock %}

{% block content %}

    <section class="main-section mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb mt-2">
                        <li class="breadcrumb-item h6 active">
                            Dashboard
                        </li>
                        <li class="breadcrumb-item h6">
                            <a href="#">Sales Report</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <h5 class="card-header ">
                            Total Sales
                        </h5>
                        <div class="card-body mt-2">
                            <h1>৳ {{ total_sales }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <h5 class="card-header">
                            Total Quantity Sold
                        </h5>
                        <div class="card-body mt-2">
                            <h1>{{ total_quantity_sold }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <h5 class="card-header">
                            Total Revenue
                        </h5>
                        <div class="card-body mt-2">
                            <h1>৳ {{ total_revenue|floatformat:2 }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <h5 class="card-header">
                            Total Tax
                        </h5>
                        <div class="card-body mt-2">
                            <h1>৳ {{ total_tax|floatformat:2 }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}