{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% block title %} Category - {{block.super}} {% endblock %}

{% block content %}

    <section class="best-selling-products">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <!-- Breadcrumbs -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-2">
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            <li class="breadcrumb-item">
                                <a href="#">Category Overview</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <div class="float-start">
                        <a href="{% url 'category_create' %}" class="btn btn-secondary">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="float-end">
                        <form class="d-flex">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Search Here ..">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-dark text-white">
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if object_list %}
                                    {% for category in object_list %}
                                        <tr class="text-center">
                                            <td>{{ category.id }}</td>
                                            <td>{{ category.name }}</td>
                                            <td>
                                                <a href="{% url 'category_update' category.id %}" class="btn btn-primary mx-1">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="{% url 'category_delete' category.id %}" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3" class="text-center">
                                            No categories found.
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if not object_list.has_previous %} disabled {% endif %}">
                                <a class="page-link" href="?page=1" tabindex="-1">FIRST</a>
                            </li>
                            <li class="page-item {% if not object_list.has_previous %} disabled {% endif %}">
                                <a class="page-link" href="{% if object_list.has_previous %}?page={{ object_list.previous_page_number }}{% endif %} "
                                   tabindex="-1">
                                    Previous
                                </a>
                            </li>
                            {% if object_list.number|add:'-4' > 1 %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="?page={{ object_list.number|add:'-5' }}">&hellip;</a>
                                </li>
                            {% endif %}
                            {% for i in object_list.paginator.page_range %}
                                {% if object_list.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% elif i > object_list.number|add:'-5' and i < object_list.number|add:'5' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if object_list.paginator.num_pages > object_list.number|add:'4' %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="?page={{ object_list.number|add:'5' }}">&hellip;</a>
                                </li>
                            {% endif %}
                            <li class="page-item{% if not object_list.has_next %} disabled {% endif %}">
                                <a class="page-link" href="{% if object_list.has_next %} ?page={{ object_list.next_page_number }} {% endif %}">Next</a>
                            </li>
                            <li class="page-item{% if not object_list.has_next %} disabled {% endif %}">
                                <a class="page-link" href="{% if object_list.has_next %} ?page={{ object_list.paginator.num_pages }}  {% endif %}">
                                    LAST
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
