<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Sale</h1>
    <form method="post">
        {% csrf_token %}
        <label>Customer ID:</label>
        <input type="text" name="customer_id" required>
    
        <table>
            <tr>
            <th>Product ID</th>
            <th>Quantity</th>
            </tr>
            <tr>
            <td><input type="text" name="product_id"></td>
            <td><input type="number" name="quantity"></td>
            </tr>
        </table>
        <button type="submit">Complete Sale</button>
    </form>

</body>
</html>